.header {
    display: grid;
    grid-template-rows: 100px auto auto auto auto;
    grid-template-areas: 'icon icon' 'nav-home nav-servises' 'nav-news nav-contact' 'nav-block nav-regions' 'nav-typography empty';
    grid-gap: 2px;
}

.header>a {
    text-decoration: none;
    color: #96d348;
}

.icon {
    grid-area: icon;
    margin: 0 auto;
}

.nav-home {
    grid-area: nav-home;
}

.nav-servises {
    grid-area: nav-servises;
}

.nav-news {
    grid-area: nav-news;
}

.nav-contact {
    grid-area: nav-contact;
}

.nav-block {
    grid-area: nav-block;
}

.nav-regions {
    grid-area: nav-regions;
}

.nav-typography {
    grid-area: nav-typography;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #96d348;
    height: 40px;
    border-right: 1px solid white;
}

.nav>a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav > a:hover {
    background-color: #6ea428;
}

@media (min-width: 768px) {
    .header {
        grid-template-rows: 100px auto auto ;
        grid-template-areas: 'icon icon icon icon' 
        'nav-home nav-servises nav-news nav-contact' 
        'nav-block nav-regions nav-typography empty';
    }
}

@media (min-width: 960px) {
    .header {
        grid-template-areas: 'icon nav-home nav-servises nav-news nav-contact nav-block nav-regions nav-typography';
    }

    .icon {
        max-width: 100%;
    }
}