body {
    font-family: 'Roboto', sans-serif;
    color: #959595;
}

.container {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "header" "main-theme" "main-theme" "news-header" "news";
    grid-gap: 20px;
}

.header {
    grid-area: header;
}

.main-theme {
    grid-area: main-theme;
}

.news-header {
    grid-area: news-header;
}

.news-header > p {
    font-size: 1.5em;
    font-weight: 600;
}

.news {
    grid-area: news;
}

@media (min-width: 768px) {
    .container {
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: 
        "header" 
        "main-theme"
        "news-header"
        "news";
        margin: 0 auto;
        grid-gap: 20px;
    }

}

@media (min-width: 1300px) {
    .container {
        margin: 0 100px;
    }
}
