.main-theme {
    display: grid;
    grid-template-rows: 400px auto;
}


.image {
    background-image: url(../img/blueberries.jpg);
    background-size: cover;
}

 .main-item > h2{
    margin-top: 20px;
}

.main-item > p {
    line-height: 1.5;
    height: auto;
}

@media (min-width: 960px) {
    .main-theme {
        grid-template-columns: 50% 50%;
    }

    .image {  
    margin-right: 20px;
    }

}