.news {
    display: grid;
}

@media (min-width: 768px) {
    .news {
        grid-template-columns: 50% 50%;
    }  
}

@media (min-width: 960px) {
    .news {
        grid-template-columns: 25% 25% 25% 25%;
    }  
}