.news-card {
    display: grid;
    grid-template-rows: 250px auto;
    grid-template-columns: 100%;
    grid-template-areas: "news-card-img" "news-card-link";
}

.news-card:last-child {
    margin-right: 0;
}
 .news-card-link > p > a {
    text-decoration: none;
    color: #040404;
}

p {
    margin: 4px;
}

.news-card-img{
    grid-area: news-card-img;
    background-size: cover;
}

#news-card-img1 {
    background-image: url(../img/raspberry.jpg);
}

#news-card-img2 {
    background-image: url(../img/grapes.jpg);
}

#news-card-img3 {
    background-image: url(../img/apple.jpg);
}

#news-card-img4 {
    background-image: url(../img/cherries.jpg);
}

.news-card-header {
    grid-area: news-card-header;
    font-weight: 600;
}

.news-card-date {
    grid-area: news-cart-date;
}

.news-card-text {
    grid-area: news-card-text;
}

.news-card-link {
    grid-area: news-card-link;
} 

.news-card-link > a {
    text-decoration: none;
}

.news-card-text,
.news-card-header,
.news-card-date {
    display: none;
}

@media (min-width: 768px) {
    .news-card {
        grid-template-rows: 250px auto ;
        grid-template-areas: "news-card-img" "news-card-link";
        margin: 20px 40px 0 0 ;
    }

}

 @media (min-width: 960px) {
    .news-card {
        grid-template-rows: 250px auto auto auto auto;
        grid-template-areas: "news-card-img" "news-card-header" "news-cart-date" "news-card-text" "news-card-link";
        margin: 20px 40px 0 0 ;
    }
    .news-card-text,
    .news-card-header,
    .news-card-date {
        display: block;
    }
}
