.container {
    width: 500px;
    margin: auto;
}

legend {
    color: blue;
}

.strong {
    font-weight: 700;
}

.block 
label {
    display: inline-block;
    width: 140px;
    text-align: right;
    padding: 5px;
}

select {
    width: 177px;
}