html {
    font-family: 'Roboto', sans-serif;
}

section {
    padding: 10px;
}

.container {
    margin: auto;
    width: 80%;
}

h1, 
h2 {
    text-align: center;
    color: #000000;
    background-color: #b5ffff;
    border-radius: 10px;
}

div {
    text-align: justify;
}

.about-html {
    border: 5px solid #81d4fa;
    border-radius: 10px;
}

.general-information {
    border: 5px inset #81d4fa;
    border-radius: 10px;
    background-image: url('./background.jpg');
    background-repeat: repeat-x;
}

.browsers {
    border: 5px outset #81d4fa;
    border-radius: 10px;
    background-image: url('./Chrome.png');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: right bottom;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}