.container{
    margin-left:auto;
    margin-right:auto;
    width:1281px;
    font-family: 'Roboto', sans-serif;
}

.header {
    margin-bottom:10px;
    width:1281px;
}

#logo {
    font-size: 80px;
    text-align: left;
}


#logo_other-color {
    color: #4BCAFF;
}

.navigation {
    width: 1281px;
    height: 70px;
    margin-top: 44px;
    background: #35444F;
    margin-bottom: 0px;
    text-align: center;
}

nav > ul {
    list-style-type: none;
}

nav > ul > li {
    float: left;
    line-height: 70px;
    color: #FFFFFF;
    padding-left: 41px;
    padding-right: 41px;
    font-size: 20px;
}

nav > ul > li:first-of-type {
    padding-left: 204px;
}

.navbar-selected {
    background-color: #222F3A;
    border-left: 2px solid #818181;
    border-right: 2px solid #818181;;
}
.left-menu {
    margin-top: 30px;
    width:344px;
    border:2px solid #35444F;
    float: left;
}

.left-menu > ul {
    list-style-type: none;
    font-size: 25px;
    margin: 0;
    padding-left: 0;
}

.left-menu-selected{
    background-color: #DBDBDB;
    padding-left: 70px !important;
}

.left-menu > ul > li {
    line-height: 81px;
    padding-left: 44px;
}

.content {
    margin-top: 30px;
    margin-bottom: 10px;
    width:855px;
    height:832px;
    float: right; 
}

article {
    width: 820px;
    margin: auto;
    font-size: 15px;
}

article > p:first-of-type {
    width: 815px;
    margin-bottom: 30px;
}


figure {
    margin: 0px;
    width: 855px;
    height: 529px;
    border: 2px solid #35444F;
    background: url(images/content-img.png) center center no-repeat;
}

footer {
    margin-left:auto;
    margin-right:auto;
    clear: both;
    position: relative;
    width: 1280px;
    height: 69px;
    background: #63696E;
    font-size: 23px;
    color: #010101;
}

footer > ul {
    list-style-type: none;
    
}

footer > ul:first-of-type > li {
    float: left;
    margin-left: 22px;
    line-height: 69px;
}

footer > ul:last-of-type > li {
    float: right;
    margin-right: 22px;
    line-height: 69px;
} 

#footer-other-color{
    color: #3181A6;
    text-decoration: underline;
}