body {
    font-family: 'Arimo', sans-serif;
    font-family: 'Courier Prime', monospace;
}

main {
    border: 22px solid #3a4965;
}

table {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    border-collapse: collapse;
}

.outer-table > th td, .table-header > th{
    height: 69px;
}

.inner-table td {
    margin: 0;
    padding: 0;
    border: 0;
}
.price {
    font-size: 3.75em;
    text-align: right;
}

.price-cent{
    text-align: left;
}

.per-month{
    text-align: left;
    vertical-align: text-top;
}

 td {
    border: 1px solid #e0e0e0;
}

.header-second-line {
    border-left: 1px solid #e0e0e0;
}


.table-header {
    background-color: #fafafa;
}

#choose-your {
    font-size: 1.125em;
}

#pricing-plan {
    font-size: 1.875em;
}

.plan {
    font-size: 1.5em;
}

.table-data:nth-child(even) {
    background-color: #e3e3e3
}

.table-data:nth-child(odd) {
    background-color: #f2f2f2;
}

.last-row {
    height: 128px;
}

p::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
}

#storage::before {
    width: 23px;
    height: 21px;
    background-image: url(./image/Storage.png);
}

#bandwidth::before {
    width: 26px;
    height: 19px;
    background-image: url(./image/bandwidth.png);
}

#email::before {
    width: 24px;
    height: 20px;
    background-image: url(./image/email.png);
}

#support::before{
    width: 24px;
    height: 25px;
    background-image: url(./image/support.png);
}

#products::before {
    width: 23px;
    height: 23px;
    background-image: url(./image/products.png);
}


#users::before {
    width: 26px;
    height: 25px;
    background-image: url(./image/users.png);
}

a {
    text-decoration: none;
    color: white;
    line-height: 49px;
}

.button {
    width: 192px;
    height: 49px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin: 0 auto;
}

#section-contact {
  background-color: #dddddd;  
}

#first-btn {
    background-color: #484848;
}

.standart {
    background-color: #89c331;
    color: white;
}

.ultimate {
    background-color: #f04a56;
    color: white;
}

.premium {
    background-color: #20807c;
    color: white;
}