body {
    background-color: #50acd4;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: auto;
    margin-top: 100px;
    background-color: #ffffff;
    width: 400px;
    height: 250px;
    border: 1px solid gray;
    border: 10px solid #56a7c8;
    border-radius: 5px;
}

header {
    text-align: center;
    height: 40px;
    background-color: #f5f7f8;
    font-size: 1.4em;
    padding-top: 10px;
}

p {
    text-align: center;
    margin-top: 20px;
}

 p > input {
    width: 300px;
    height: 20px;
    border: 5px solid #f1f4f7;
    border-radius: 5px;
}

.login {
    text-align: left;
    padding-left: 40px;
    font-size: 0.8em;
}

button {
    float: right;
    margin-right: 45px;
    border-radius: 15px;
    background-color: #e7f1f5;
    color: #5c7b91;
    height: 25px;
    width: 60px;
}

.forgot-password {
    color: white;
    font-size: 0.8em;
}

a {
    color: #d8e8e9;
    text-decoration: none;
}