html {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100%;
}

body {
    font-family: 'Courier Prime', monospace;
    color: rgba(255, 255, 255, 255);
}

header {
    margin-top: 20px;
    height: 100px;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    width: 1366px;
    padding-left: 155px;
    padding-right: 150px;
    background-repeat: repeat;
    margin: 0 auto;
}

.logo {
    float: left;
    background-image: url(./images/logo.png);
    width: 49px;
    height: 49px;
}

.logo-text {
    margin-left: 56px;
    color: white;
    text-transform: uppercase;
    position: relative;
    float: left;
    font-weight: 600;
}

.logo:hover {
    background-image: url(./images/logo-hover.png);
    width: 49px;
    height: 49px;
}

.logo:hover .logo-text {
    color: #f26522;
}

.logo-text>div:first-of-type {
    font-size: 1.8em;
}

.logo-text>div:last-of-type {
    font-size: 1.125em;
}

.info {
    color: white;
    float: right;
    text-align: right;
    margin-right: 20px;
}

.gallery {
    float: left;
    margin: 0 0 75px 0;
}

.image-with-info {
    width: 308px;
    height: 200px;
    border: 1px inset white;
}

.image-with-info>img {
    z-index: 1;
}

.middle-img {
    margin-left: 218px;
    margin-right: 218px;
}

.gallery>p {
    text-align: center;
    font-size: 1.255em;
}

.img-info {
    visibility: hidden;
    width: 310px;
    margin-left: -1px;
    height: 63px;
    background-image: url(./images/Hover.png);
    margin-top: -63px;
    position: absolute;
}

.gallery:hover>p {
    color: #f26522;
}

.gallery:hover>.image-with-info>.img-info {
    visibility: visible;
}

.left-info {
    padding-top: 20px;
    padding-left: 20px;
    float: left;
}

.price {
    font-size: 0.625em;
}

.price-value {
    font-size: 1.25em;
}

.view-details {
    float: right;
    text-align: right;
    padding-top: 20px;
    font-size: 1.14em;
    padding-right: 20px;
}

footer {
    clear: both;
    text-align: center;
    margin-bottom: 20px;
}