#first {
    border-width: 5px;
    border-style: solid;
    border-color: rgb(141, 68, 194);
    border-radius: 15px;
}

#second {
    border-width: 2px;
    border-style: dotted;
    border-color: rgb(226, 23, 84);
}

#third {
    border-top: 4px dashed red;
    border-bottom: 6px dotted greenyellow;
    border-left: 9px solid yellow;
    border-right: 4px solid slateblue;
}

#fourth {
    border-width: 3px;
    border-style: double;
    border-color: lightcoral;
}

#fifth {
    border-width: 7px;
    border-style: groove;
    border-color: lightseagreen;
}

#sixth {
    border-width: 5px;
    border-style: ridge;
    border-color: limegreen;
}

#seventh {
    border-width: 8px;
    border-style: inset;
    border-color: rgb(12, 223, 238);
}

#eighth {
    border-width: 2px;
    border-style: outset;
    border-color: rgb(215, 238, 12);
}