#first {
    background-color: salmon;
    border-radius: 10px;
}

#second {
    background-color: rgb(94, 174, 228);
}

#third {
    background-color: rgba(169, 21, 214, 0.486);
}

#fourth {
    background-color: hsla(268, 35%, 55%, 0.5);
}

#fifth {
    background-image: url('./fifth.jpg');
    background-repeat: repeat-x;
}

#sixth {
    height: 500px;
    background-image: url('./sixth.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
}